.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  .item {
    list-style-type: circle;
    margin-left: 1.2rem;
  }
  .deleteButton {
    padding: 0.3rem 0.8rem;
    border: 0.5px solid #ddd;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  .deleteButton:hover {
    background-color: #ffb5b5;
    border: 0.5px solid #dfdbe5;
    color: #fff;
  }
}
